* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
scroll-behavior: smooth;
}
body {
  font-family: 'Courier New', Courier, monospace;
background-color:  #040C18;
}
/* .App {

  height: 500vh;
} */
.nav-header-greadiant {
  background-color: #002853;
}
a {
  text-decoration: none;
  color: none;
}
.App {
  overflow: hidden;
}